<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Miniclient'
        UpgradeCode='8AEC688C-8021-4134-9D61-927FFB5DFFAF'
        Manufacturer='Arnaud Taffanel'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Minimal Crazyflie client for gamepad-based flight control'
            Manufacturer='Arnaud Taffanel'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perUser'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Miniclient Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='LocalAppDataFolder'>
                <Directory Id='APPLICATIONFOLDER' Name='Miniclient'>
                    <Component Id='binary0' Guid='586FDD13-B517-4610-8D20-1B8C1B78DD8A'>
                        <File
                            Id='exe0'
                            Name='miniclient.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\miniclient.exe'/>
                        <RemoveFolder Id='RemoveApplicationFolder' Directory='APPLICATIONFOLDER' On='uninstall'/>
                        <RegistryValue Root='HKCU' Key='Software\Miniclient' Name='binary' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='Miniclient'>
                    <Component Id='ApplicationShortcut' Guid='*'>
                        <Shortcut Id='ApplicationStartMenuShortcut'
                            Name='Miniclient'
                            Description='Minimal Crazyflie client'
                            Target='[APPLICATIONFOLDER]miniclient.exe'
                            WorkingDirectory='APPLICATIONFOLDER'
                            Icon='ProductICO'/>
                        <RemoveFolder Id='CleanUpShortCut' Directory='ApplicationProgramsFolder' On='uninstall'/>
                        <RegistryValue Root='HKCU' Key='Software\Miniclient' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='ApplicationShortcut'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='ProductICO' SourceFile='wix\app.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO'/>
        <Property Id='ARPHELPLINK' Value='https://github.com/ataffanel/miniclient'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <!-- Skip the EULA dialog: go straight from Welcome to Customize -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

    </Product>

</Wix>
